/target
/profile.json
/weaver-proc-macro/target
/weaver-bench/target
/weaver-core/target
/weaver-game/target
/weaver-ecs/target
/imgui.ini
/*.dot
/*.bin
/*.json
*.tmLanguage.json
log.txt
/pipeline.cache